{% load static %}
<html>
    <head>
        <title>Heather's Blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    </head>
    <body>
        <div class="page-header">
            {% block header %}
            {% endblock %}
            <h1><a href="/">Heather's Blog</a></h1>
        </div>
        <div class="subheader">
            {% block subheader %}
            {% endblock %}
        </div>
        <div class="container-fluid">
            <div class="row main-content">
                <div class="col-12">
                    {% block content %}
                    {% endblock %}
             </div>
            </div>
        </div>
    </body>
</html>