{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="text-center">
                <h1>Blog posts</h1>
                <a href="/blog/">
                    <img src="https://images.unsplash.com/photo-1508780709619-79562169bc64?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="Hands typing on a keyboard (Royalty Free)" width="460" height="306">
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <h1>Curriculum vitae (CV)</h1>
                <a href="/cv/">
                    <img src="https://images.unsplash.com/photo-1502945015378-0e284ca1a5be?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="Laptop and desk (Royalty Free)" width="460" height="306">
                </a>
            </div>
        </div>
    </div>
{% endblock %}