{% extends 'base.html' %}

{% block subheader %}
    <h1>Home</h1>
{% endblock %}

{% block content %}
    <div class="row home">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <a href="/blog/">
                <div class="text-center homesection">
                    <h1>Blog posts</h1>
                    <div class="description">View all of my posts</div>

                    <h3>About</h3>
                    <p>Read my views and opinions.
                    <p>Currently showcasing:
                    <p>• What I've enjoyed studying
                    <p>• What I'm looking forward to
                    <p>• Describing how my site is structured
                    <p>and how django works
                    <p>• How I used TDD to develop the site</p>
                    <img src="https://images.unsplash.com/photo-1508780709619-79562169bc64?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="Hands typing on a keyboard (Royalty Free)" class="responsive">
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="/cv/">
                <div class="text-center homesection">
                    <h1>Curriculum vitae (CV)</h1>
                    <div class="description">View my CV</div>
                
                    <h3>About</h3>
                    <p>Read my CV and contact information.
                    <p>Currently showcasing:
                    <p>• A biography,
                    <p>• Skills list
                    <p>• Qualifications
                    <p>• Employment history
                    <p>• Extracurricular activities</p>

                    <img src="https://images.unsplash.com/photo-1502945015378-0e284ca1a5be?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="Laptop and desk (Royalty Free)" class="responsive">
                </div>
            </a>
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}