{% extends 'blog/cv_page.html' %}

{% block header %}      
    {% if user.is_authenticated %}
        <a href="{% url 'cv_edit' %}" class="top-menu"><span class="glyphicon glyphicon-arrow-left"></span></a>
    {% endif %}
{% endblock %}

{% block bio %}
	<p>bio</p>
{% endblock %}

{% block delete %}
	<h2>Database ID</h2>
	<table id="id_list_table">
	    {% for item in items %}
	        <tr><td>{{ item.id }}</td></tr>
	    {% endfor %}
	</table>

	<form method="POST">
	    <input name="item_ID" id="id_delete_item" placeholder="Enter Database ID to delete" />
	    {% csrf_token %}
	</form>
{% endblock %}

{% block qual %}
{% endblock %}

{% block employ %}
{% endblock %}

{% block extra %}
{% endblock %}