{% extends 'blog/cv_page.html' %}

{% block cvheader %}    
    <a href="{% url 'cv_edit' %}" class="top-menu"><span class="glyphicon glyphicon-arrow-left"></span></a>
{% endblock %}

{% block skillsdelete %}
	<h2>Database ID</h2>
	<table id="id_list_table">
	    {% for item in items %}
	    	{% if item.category == "skills" %}
	        	<tr><td>{{ item.id }}</td></tr>
	        {% endif %}
	    {% endfor %}
	</table>

	<form method="POST">
	    <input name="item_ID" id="id_delete_item" placeholder="Enter Database ID to delete" />
	    {% csrf_token %}
	</form>
{% endblock %}