{% extends 'blog/cv_page.html' %}

{% block header %}      
    {% if user.is_authenticated %}
        <a href="{% url 'cv_page' %}" class="top-menu"><span class="glyphicon glyphicon-arrow-left"></span></a>
    {% endif %}
{% endblock %}

{% block bio %}
	<p>bio</p>
{% endblock %}

{% block skills %}
    <a href="{% url 'cv_add' %}"><span class="glyphicon glyphicon-plus"></span></a>
{% endblock %}

{% block qual %}
{% endblock %}

{% block employ %}
{% endblock %}

{% block extra %}
{% endblock %}