{% extends 'blog/cv_page.html' %}

{% block cvheader %}
    <a href="{% url 'cv_page' %}" class="top-menu"><span class="glyphicon glyphicon-arrow-left"></span></a>
{% endblock %}

{% block skills %}
    <a href="{% url 'cv_add' %}"><span class="glyphicon glyphicon-plus"></span></a>
    <a href="{% url 'cv_delete' %}"><span class="glyphicon glyphicon-minus"></span></a>
{% endblock %}

{% block qual %}
    <a href="{% url 'cv_add' %}"><span class="glyphicon glyphicon-plus"></span></a>
    <a href="{% url 'cv_delete' %}"><span class="glyphicon glyphicon-minus"></span></a>
{% endblock %}

{% block employ %}
    <a href="{% url 'cv_add' %}"><span class="glyphicon glyphicon-plus"></span></a>
    <a href="{% url 'cv_delete' %}"><span class="glyphicon glyphicon-minus"></span></a>
{% endblock %}

{% block extra %}
    <a href="{% url 'cv_add' %}"><span class="glyphicon glyphicon-plus"></span></a>
    <a href="{% url 'cv_delete' %}"><span class="glyphicon glyphicon-minus"></span></a>
{% endblock %}