{% extends 'blog/cv_page.html' %}

{% block cvheader %}
    <a href="{% url 'cv_page' %}" class="top-menu"><span class="glyphicon glyphicon-arrow-left"></span></a>
{% endblock %}

{% block bio %}
	<form method="POST">
	    <textarea rows="5" cols="60" name="item_text" id="id_new_bio">{% for item in items %}{% if item.category == "bio" %}{{ item.text }}{% endif %}{% endfor %}</textarea>
	    <input type = "submit" value = "submit" />
	    <input type="hidden" name="item_category" id="id_new_category" value="bio" />
	    {% csrf_token %}
	</form>
{% endblock %}

{% block skills %}
    <a href="{% url 'cv_add' %}"><span class="glyphicon glyphicon-plus"></span></a>
    <a href="{% url 'cv_delete' %}"><span class="glyphicon glyphicon-minus"></span></a>
{% endblock %}

{% block qual %}
    <a href="{% url 'cv_add' %}"><span class="glyphicon glyphicon-plus"></span></a>
    <a href="{% url 'cv_delete' %}"><span class="glyphicon glyphicon-minus"></span></a>
{% endblock %}

{% block employ %}
    <a href="{% url 'cv_add' %}"><span class="glyphicon glyphicon-plus"></span></a>
    <a href="{% url 'cv_delete' %}"><span class="glyphicon glyphicon-minus"></span></a>
{% endblock %}

{% block extra %}
    <a href="{% url 'cv_add' %}"><span class="glyphicon glyphicon-plus"></span></a>
    <a href="{% url 'cv_delete' %}"><span class="glyphicon glyphicon-minus"></span></a>
{% endblock %}