{% extends 'base.html' %}

{% block content %}
    <div>Curriculum vitae (CV)</div>
    
    {% block edit %}
    {% endblock %}

    <div>Hi I'm Heather</div>
    <p><b>email</b>: ***@hotmail.com</p>

    {% block bio %}
    {% endblock %}

    <table id="id_list_table">
	    {% for item in items %}
	        <tr><td>{{ forloop.counter }}: {{ item.text }}</td></tr>
	    {% endfor %}
	</table>

    {% block skills %}
    {% endblock %}

    {% block qual %}
    {% endblock %}

    {% block employ %}
    {% endblock %}

    {% block extra %}
    {% endblock %}
{% endblock %}