{% extends 'base.html' %}

{% block header %}      
    {% if user.is_authenticated %}
    	{% block cvheader %}
    	{% endblock %}
    {% endif %}
{% endblock %}

{% block subheader %}
	<h1>Curriculum vitae (CV)</h1>
{% endblock %}

{% block content %}

	<div class="col-md-6">
		<div class="text-center">
    		<div class="specialmsg"><h1>Hi I'm Heather</h1></div>
			<p><b>Email</b>: someone@example.com</p>
			<p><b>Number</b>: 07123456789</p>
		</div>
    </div>
    <div class="col-md-6">
    	
		<h2>Bio</h2>
		<p>bio</p>
	    {% block bio %}
	    {% endblock %}

	    <div class="row">
		    <div class="col-md-4">
		    	<h2>Skills</h2>
			    <table id="id_list_table">
				    {% for item in items %}
				    	{% if item.category == "skills" %}
				        	<tr><td>{{ forloop.counter }}: {{ item.text }}</td></tr>
				        {% endif %}
				    {% endfor %}
				</table>
			</div>
			<div class="col-md-3">
				{% block delete %}
	    		{% endblock %}
			</div>
		</div>

	    {% block skills %}
	    {% endblock %}

	    <h2>Qualifications</h2>
	    {% block qual %}
	    {% endblock %}

	    <h2>Employment History</h2>
	    {% block employ %}
	    {% endblock %}

	    <h2>Extracurricular</h2>
	    {% block extra %}
	    {% endblock %}
	</div>

{% endblock %}